@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.logo-style {
    font-weight: 900;
    color: #E6533C;
    font-style: italic;
    font-size: 3rem;
}

.display-flex {
    display: flex;
}

.bold-title {
    font-size: 3rem;
    font-weight: 900;
}

.gray-description {
    font-size: 1rem;
    font-weight: 400;
    color: #a39b9b;
}

/*------------ Navbar style ------------ */
#header {
    background-color: #474444;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-items: center;
}

ul {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
}

ul > li {
    padding: 0px 20px;
    font-size: 20px;
    align-items: center;
}

.menu-button-style {
    background-color: #E6533C;
    padding: 10px 20px;
    border-radius: 20px;
}

.menu-item-style {
    padding: 10px 20px;
}

.fa-icon {
    display: none;
}

/* ------------Banner part style------------- */
#header {
    background-color: rgb(21, 21, 21);
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.banner-info {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.banner-title {
    font-size: 5rem;
    font-weight: 900;
}

.banner-description {
    color: #474444;
    font-size: 1rem;
    padding: 30px 0px;
}

.banner-button {
    font-size: 18px;
    padding: 15px 50px;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 1);
}

.transparent-btn {
    background-color: #151515;
}

.orange-background {
    background-color: #E6533C;
    border-color: #E6533C;
}

.thin-etalic-text {
    font-weight: 100;
    font-size: 6rem;
    font-family: 'Miama', sans-serif;
}

.banner-img {
    position: relative;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.transparent-card-1, .transparent-card-2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 20px;
}

.transparent-card-1 {
    margin-left: 60%;
    margin-top: 50%;
}

.transparent-card-2 {
    margin-left: -120%;
    margin-top: 100%;
}

.transparent-card-title {
    font-weight: 900;
}

.transparent-card-p {
    padding: 5px 0px;
    text-align: center;
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E6533C;
    margin-top: 5px;
}

/* -------------Main section style--------------- */
.main-section {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ---------Habit section design-------------- */
.circle-img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.habits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.image-container {
    display: flex;
    gap: 50px;
    text-align: center;
    /* flex-wrap: wrap; */
}

.img-info {
    width: 100%;
    max-width: 250px;
    text-align: center;
}

/* ------------- Run section style  ----------- */
.run-container {
    padding: 50px 0px;
    position: relative;
}

.run-section {
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
}

.run-img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.run-miles-info {
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.run-miles-info h1, p {
    text-align: left;
}

.run-info {
    padding: 20px 0px;
    text-align: left;
}

.run-button {
    display: flex;
    justify-content: left;
   margin: 20px 0px;
}

/* ----------BMI section style --------------------*/
.bmi {
    padding: 50px 20px;
    width: 100%;
    background-color: rgba(34, 34, 34, 1);
}

.bmi-info {
    padding: 80px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.bmi-info p {
    width: 80%;
    margin: auto;
}

.bmi-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bmi-heading{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 30px 0px;
    text-align: left;
}
table th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
}

.bmi-calculation {}

form {
    width: 100%;
    position: relative;
    /* border: 1px solid #E6533C; */
}

form input {
    padding: 20px 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 2px;
    border-radius: 5px;
    width: 100%;
    max-width: calc(100% - 4px);
}

.last-item {
    left: 0%;
    width: 100%;
}

/* ------------Team section style------------------- */
.team {
    width: 100vw;
    height: auto;
    padding: 80px;
}

.team-info {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 0px;
    text-align: center;
}

.team-details {
    background-color: #474444;
    margin: 0 auto;
    width: 100%;
    max-width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.member-info {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.member-info img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.member-identity {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* ------------Fitness section style------------- */
.fitness-section {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0% auto;
    padding: 80px 20px;
    width: 70vw;
    background-color: rgb(25, 25, 25);
}

.fitness {
    margin: 0 auto;
    width: 100%;
    max-width: 100vw;
}

.fitness-container {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fitness-container p {
    color: #474444;
}

.logo-details {
    width: 100%;
    max-width: 30%;
}

.logo-details h1 {
    text-align: left;
}

.menu-list {
    text-align: left;
    width: 100%;
    max-width: 25%;
}

.menu-list p {
    font-size: 1.2rem;
    padding: 5px 0px;
    color: rgba(255, 255, 255, 0.5);
}

.menu-list h1 {
    font-size: 1.6rem;
}

/* ----------Footer section design----------- */
.footer {
    width: 100%;
    background-color: rgb(25, 25, 25);
}

.footer-info {
    text-align: center;
}
.footer-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
}
.copyright-info-details {
    padding: 30px 10px;
}
.hr-line{
    padding: 30px 0px;
}
hr {
    width: 60vw;
    margin-top: 10px;
    margin: 0 auto;
    border: 1px solid #303030;
    /* color: #303030; */
}

.copyright-info {
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}

/* ..........responsive for mobile devices------------ */

@media screen and (max-width: 768px) {
    .fa-icon {
        display: block;
    }
    .banner-img{
        width: 60vw;
    }
    .banner-title {
        font-size: 4rem;
        font-weight: 800;
    }
    .bold-title {
        font-size: 2rem;
        font-weight: 800;
    }
    .menu-items{
        display: none;
    }
    .main-section{
        width: 100vw;
        position: relative;
    }
    .run-section{
        width: 90vw;
        margin: 0% auto;
       
      
    }
    .bmi-info {
        padding: 0px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    
    .bmi-info p {
        width: 90%;
        text-align: center;
        margin: auto;
        padding: 5px 10px;
    }
    .run-miles-info{
        margin: 0% auto;
        text-align: center;
        align-items: center;
    }
    .habits{
   
        margin: 0 auto;
       padding: 10px 50px;
      
    }
    .habits-info{
   width: 97vw;
   text-align: center;
   margin: 0% auto;
    }
    .habit-description{
        text-align: center;
    }
    .navbar {
        display: flex;
        flex-direction: row;
    }
    .banner {
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
    .logo-details, .menu-list {
        width: 100%;
        max-width: 100%;
    }
    .fitness-section{
        margin: 0% auto;
    }
    /* .banner-info, .banner-img {
        width: 100%;
    } */
    .image-container {
        flex-direction: column;
        align-items: center;
    }
    .run-section {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .run-miles-info {
        width: 100%;
    }
    .bmi-container {
        flex-direction: column;
        align-items: center;
    }
    .team-details {
        grid-template-columns: 1fr;
    }
    .fitness-container {
   
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
